<!--<div class="container">
  <div class="row">
    <div class="col-sm-6" id="widgetIframe"><iframe width="100%" height="360" src="http://compbio3.tongji.edu.cn/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=visitorMap&idSite=2&period=day&date=today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
    <div class="col-sm-6" id="widgetIframe"><iframe width="100%" height="300" src="http://compbio3.tongji.edu.cn/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitTime&actionToWidgetize=getVisitInformationPerServerTime&idSite=2&period=day&date=today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-sm-6" id="widgetIframe"><iframe width="100%" height="560" src="http://compbio3.tongji.edu.cn/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitorInterest&actionToWidgetize=getNumberOfVisitsByDaysSinceLast&idSite=2&period=day&date=today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
    <div class="col-sm-6" id="widgetIframe"><iframe width="100%" height="560" src="http://compbio3.tongji.edu.cn/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitorInterest&actionToWidgetize=getNumberOfVisitsByVisitCount&idSite=2&period=day&date=today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
  </div>
  <div class="row">
    <div class="col-sm-6" id="widgetIframe"><iframe width="100%" height="130" src="http://compbio3.tongji.edu.cn/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitorInterest&actionToWidgetize=getNumberOfVisitsPerVisitDuration&idSite=2&period=day&date=today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
    <div class="col-sm-6" id="widgetIframe"><iframe width="100%" height="130" src="http://compbio3.tongji.edu.cn/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitorInterest&actionToWidgetize=getNumberOfVisitsPerPage&idSite=2&period=day&date=today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
  </div>
  http://compbio3.tongjiedu.cn/piwik/index.php?module=Widgetize&action=index&idSite=2&period=day&date=yesterday
</div>-->
<div class="container">
    <!--
    <div class="row">
        <div class="col-sm-12" id="widgetIframe"><iframe width="100%" height="250" src="http://compbio3.tongji.edu.cn/piwik/index.php?module=Widgetize&action=iframe&columns[]=nb_uniq_visitors&columns[]=nb_actions&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite=2&period=range&date=2015-05-29,today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
    </div>-->
    <h3>Cistrome Data Browser Samples statistics</h3>
    <div class="row">
        <div class="col-sm-12">
        <div class="panel panel-default">
        <table class="table table-striped table-bordered table-hover text-center">
        <thead>
        <tr class="text-center">
          <th class="text-center">Species</th>
          <th class="text-center">Homo sapiens</th>
          <th class="text-center">Mus musculus</th>
        </tr>
        </thead>
        <tbody>
            
        <tr>
          <td>TF</td>
          <td>5774</td>
          <td>4502</td>
          <td>10276</td>
        </tr>
        <tr>
          <td>Histone</td>
          <td>5828</td>
          <td>4852</td>
          <td>10680</td>
        </tr>  
        <tr>
          <td>CA</td>
          <td>1076</td>
          <td>294</td>
          <td>1370</td>
        </tr>
        <tr>
          <td>Other</td>
          <td>688</td>
          <td>305</td>
          <td>993</td>
        </tr>
                <tr>
          <td>Total</td>
          <td>13366</td>
          <td>9953</td>
          <td>23319</td>
        </tr>        
        </tbody>
        </table>
    </div>
    Completed datasets: All the ChIP-seq datasets collected from GEO and ENCODE site.
    </div>    
    </div>
    <div class="row">
        <div class="col-sm-12">
         <div id="chart">
         </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="widgetIframe"><iframe width="100%" height="550" src="http://cistrome.org/~qqin/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=visitorMap&idSite=2&period=range&date=2015-05-29,today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
    </div>
</div>


<script>
    var chart = c3.generate({
        data: {
            x: 'Date',
            url: 'evolution_piwik.csv',
            xFormat: '%m/%d/%Y'
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d'
                }
            }
        }
    });
</script>
<!-- http://developer.piwik.org/api-reference/reporting-api-metadata, https://developer.piwik.org/api-reference/Piwik/ViewDataTable/Config,
<!-- http://compbio3.tongji.edu.cn/piwik/index.php?module=API&method=API.get&format=JSON&idSite=2&period=day&date=2015-05-29,today&filter_limit=false&disable_queued_filters=1&format_metrics=1&period=day&expanded=1&token_auth=6481c3930e8b270fe0f97f1f47ae5e40&filter_limit=100-->
<!-- http://compbio3.tongji.edu.cn/piwik/index.php?module=API&method=API.get&format=CSV&idSite=2&period=day&date=2015-05-29,today&filter_limit=false&disable_queued_filters=1&format_metrics=1&period=day&expanded=1&translateColumnNames=1&language=en&token_auth=6481c3930e8b270fe0f97f1f47ae5e40&filter_limit=101&token_auth=6481c3930e8b270fe0f97f1f47ae5e40&filter_limit=100 -->
<!-- <div class="container">
    <img src="http://cistrome.org/~qqin/piwik/index.php?module=API&method=ImageGraph.get&idSite=2&apiModule=VisitsSummary&a&apiAction=get&token_auth=anonymous&graphType=evolution&period=day&date=2015-05-01,today&width=auto&height=250&colors=FF0000">
</div>-->

