<div class="container">  <!--aboutBox -->
	<div ng-controller="VideoCtrl as controller" class="videogular-container">
		<videogular vg-theme="controller.config.theme"  vg-player-ready="controller.onPlayerReady($API)">
			<vg-media vg-src="controller.config.sources">
			</vg-media>
			<vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				<vg-scrub-bar>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
				<vg-volume>
					<vg-mute-button></vg-mute-button>
					<vg-volume-bar></vg-volume-bar>
				</vg-volume>
				<vg-fullscreen-button></vg-fullscreen-button>
			</vg-controls>
 
	<vg-overlay-play></vg-overlay-play>
	<vg-buffering></vg-buffering>
	</videogular>
	</div>
</br>
<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-10">
<h1>Quick start Guideline </h1>
<div>
Guide video above introduces basis usage of Cistrome DB. Users can also start their data mining by following instruction. 
</div>

<h2>1.  Search your interesting assay, cell or tissue</h2>
<div>Cistrome DB contains two options for searching the database,One is to select assay, species or biological sources, The other is based on advanced searching box. Searching result will list with a table of matched datasets. User can view detail data annotations; analysis result and QC metric by click dataset.</div>
<img src="1.png" class="img-responsive"></img>

<h2>2.  Result page for individual dataset</h2>
<div>Each ChIP-seq and DNase-seq sample have a unique dataset ID, Cistrome DB comprises manually curated metadata annotations for each dataset, including species, factors, biological source, publication and process status.  After clicking interested dataset, result page for individual sample will shows as follows.  Result page contains detail metadata annotations, quality control report, analysis result and download section.  User can also send data to our Cistrome analysis pipeline for subsequential analysis. Details explanation of QC sees in <a href="http://cistrome.org/chilin/_downloads/instructions.pdf">ChiLin document</a>.
<img src="2.png" class="img-responsive"></img>
<img src="3.png" class="img-responsive"></img>
</div>

<h2>3. Batch samples genome browser display</h2>
<div>
Besides metadata collection and data processing. CistromeDB also provide users batch data view function.  After selected interested dataset, user can send data to genome browser for association study, such as co-factors, relationship between chromatin regulators and histone modifications.    
</div>

<img src="7.png" class="img-responsive"></img>

<h2>4. Get ChIP-seq putative targets and search interesting targets</h2>

<div>
To help user quickly locate putative targets. Cistrome DB provided two options for putative targets view. On the one hand, user can get whole list of putative targets by click "get top putative targets" menu. On the other hand, user can also enter the gene symbols to search intersected target.
</div>
<div>
<img src="6.png" class="img-responsive"></img>
</div>
<div class="col-sm-1">
</div>
</div>
</div>
